BasedOnStyle: LLVM
Language: Cpp
Standard: C11
IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 100
BreakBeforeBraces: Attach
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: Never
PointerAlignment: Right
SpaceBeforeParens: ControlStatements
DerivePointerAlignment: false
SortIncludes: Never
ReflowComments: false
